{% extends 'layout.html' %}

{% block title %}
    <title>회원가입 페이지</title>
{% endblock %}

{% block contents %}
    <div class="row">
        <!-- reference: https://bootsnipp.com/snippets/rl98z -->
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/api/v1/auth/signup" method="POST" autocomplete="off">
                            <div class="form-group">
                                <label for="email">이메일</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">비밀번호 확인</label>
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                            </div>
                            <button type="submit" class="btn btn-primary">회원가입 신청</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
