<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>
<body>
    <form action="/api/v1/auth/signin" method="POST">

    <label for="email">이메일</label>
    <input type="email" id="email" name="email">
    <br>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password">
    <br>
    <br>

    <button>로그인</button>
    
    </form>
</body>
</html>