global:
  scrape_interval: 1s
  evaluation_interval: 1s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: node
    static_configs:
      - targets:
          - node-exporter:9100
  - job_name: cadvisor
    static_configs:
      - targets:
          - cadvisor:8080
