apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secretsmanager
  namespace: nextjs-env-secret
  labels:
    app.kubernetes.io/name: nextjs-env-secret-demo
spec:
  provider:
    aws:
      service: SecretsManager
      region: ap-northeast-2
