apiVersion: apps/v1
kind: Deployment
metadata:
  name: dvwa-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dvwa-web
  template:
    metadata:
      labels:
        app: dvwa-web
    spec:
      serviceAccountName: dvwa
      # 토큰을 마운트하지 않게 설정
      # automountServiceAccountToken: false
      containers:
      - name: dvwa
        image: cytopia/dvwa:php-8.1
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "0.3"
            memory: 256Mi
          limits:
            cpu: "0.3"
            memory: 256Mi
        env:
        - name: RECAPTCHA_PRIV_KEY
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: RECAPTCHA_PRIV_KEY
        - name: RECAPTCHA_PUB_KEY
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: RECAPTCHA_PUB_KEY
        - name: SECURITY_LEVEL
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: SECURITY_LEVEL
        - name: PHPIDS_ENABLED
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: PHPIDS_ENABLED
        - name: PHPIDS_VERBOSE
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: PHPIDS_VERBOSE
        - name: PHP_DISPLAY_ERRORS
          valueFrom:
            configMapKeyRef:
              name: dvwa-config
              key: PHP_DISPLAY_ERRORS
        - name: MYSQL_HOSTNAME
          value: dvwa-mysql-service
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: dvwa-secrets
              key: DVWA_DATABASE
        - name: MYSQL_USERNAME
          valueFrom:
            secretKeyRef:
              name: dvwa-secrets
              key: DVWA_USERNAME
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: dvwa-secrets
              key: DVWA_PASSWORD
