<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/api/v1/index">Home</a>
                        <a class="nav-item nav-link" href="#">임시</a>
                        <a class="nav-item nav-link" href="#">임시</a>
                        
                        {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="/api/v1/auth/logout">로그아웃</a>
                        {% else %}
                        <a class="nav-item nav-link" href="/api/v1/auth/signin">로그인</a>
                        <a class="nav-item nav-link" href="/api/v1/auth/signup">회원가입</a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            {% block contents %}{% endblock %}
        </div>
    </div>
</body>
</html>
