* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
