{
  "memory_id": "memory_static_ip-AbCdEf1234",
  "region": "ap-northeast-2",
  "role_arn": "arn:aws:iam::123456789012:role/memory-static-ip-client",
  "services": {
    "memory": {
      "eips": {
        "ap-northeast-2a": "203.0.113.20"
      },
      "hostname": "bedrock-agentcore.ap-northeast-2.amazonaws.com",
      "nlb_dns_name": "memory-static-ip-memory-0123456789abcdef.elb.ap-northeast-2.amazonaws.com",
      "target_group_arn": "arn:aws:elasticloadbalancing:ap-northeast-2:123456789012:targetgroup/memory-static-ip-memory/0123456789abcdef",
      "vpc_endpoint_id": "vpce-0123456789abcdef0"
    },
    "sts": {
      "eips": {
        "ap-northeast-2a": "203.0.113.10"
      },
      "hostname": "sts.ap-northeast-2.amazonaws.com",
      "nlb_dns_name": "memory-static-ip-sts-0123456789abcdef.elb.ap-northeast-2.amazonaws.com",
      "target_group_arn": "arn:aws:elasticloadbalancing:ap-northeast-2:123456789012:targetgroup/memory-static-ip-sts/0123456789abcdef",
      "vpc_endpoint_id": "vpce-0123456789abcdef1"
    }
  },
  "source_principal_arn": "arn:aws:iam::123456789012:role/administrator"
}
