[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
commonName                  = malware

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = admission-server.default.svc
