# /etc/ipsec.secrets - StrongSwan IPsec secrets file
# AWS Site-to-Site VPN Pre-Shared Keys

# IPSec Tunnel #1
${CUSTOMER_GATEWAY_OUTSIDE_IP} ${VPG_OUTSIDE_IP_TUNNEL1} : PSK "${TUNNEL1_PSK}"

# IPSec Tunnel #2
${CUSTOMER_GATEWAY_OUTSIDE_IP} ${VPG_OUTSIDE_IP_TUNNEL2} : PSK "${TUNNEL2_PSK}"
