aws_region  = "ap-northeast-2"
environment = "dev"

vpc_cidr        = "10.0.0.0/16"
azs             = ["ap-northeast-2a", "ap-northeast-2c"]
private_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
public_subnets  = ["10.0.101.0/24", "10.0.102.0/24"]

nexus_instance_type    = "t3.medium"
nexus_admin_password   = "YourSecurePassword123!"
nexus_root_volume_size = 30

# "YOUR_HOME_IP/32"
alb_allowed_cidrs = []

route53_zone_name        = "example.xyz"
acm_domain_name          = "*.example.xyz"
nexus_subdomain          = "nexus"
nexus_internal_subdomain = "nexus-internal"

github_repository_url       = "https://github.com/your-org/your-repo"
github_branch               = "master"
codebuild_source_identifier = "arn:aws:codeconnections:ap-northeast-2:123456789012:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
codebuild_compute_type      = "BUILD_GENERAL1_SMALL"
