{% extends 'layout.html' %}

{% block title %}
    <title>프로젝트 생성 페이지</title>
{% endblock %}

{% block contents %}
    <!-- reference: https://bootsnipp.com/snippets/rl98z -->
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="/api/v1/gitlab/createproject" method="POST" autocomplete="off">
                        <div class="form-group">
                            <label for="projectname">프로젝트 이름</label>
                            <input type="text" class="form-control" name="projectname" id="projectname">
                        </div>                        
                        <button type="submit" class="btn btn-primary">프로젝트 생성</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
