{% extends 'layout.html' %}

{% block title %}
    <title>앱 생성 페이지</title>
{% endblock %}

{% block contents %}
    <!-- reference: https://bootsnipp.com/snippets/rl98z -->
    {% if project_infos %}
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="/api/v1/gitlab/createapp" method="POST" autocomplete="off">
                        <div class="form-group">
                            <label for="projectid">프로젝트 선택</label>
                            <select name="projectid">
                                {% for project_info in project_infos %}
                                    <option value="{{project_info.project_id}}">{{project_info.project_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="apptype">앱 종류</label>
                            <select name="apptype">
                                <option value="springboot">스프링부트</option>
                                <option value="python">파이썬</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="appname">애플리케이션 이름</label>
                            <input type="text" class="form-control" name="appname" id="appname">
                        </div>                        
                        <button type="submit" class="btn btn-primary">애플리케이션 생성</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
프로젝트가 존재하지 않습니다. 먼저 프로젝트부터 생성하세요.
{% endif %}
    
{% endblock %}
