# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Local settings
*.env
*.local
*.log

# Django static and media files (if generated locally)
staticfiles/
media/

# Node modules (if you're using npm or yarn)
node_modules/

# Distribution / Packaging
*.egg-info/
dist/
build/

# Docker
Dockerfile
docker-compose.yml

# Git
.git/
.gitignore

# IDEs and editors
*.vscode/
*.idea/
*.swp

Makefile
docker-compose.yml

.idea/
