github_connection_arn   = "arn:aws:codeconnections:ap-northeast-2:123456789012:connection/00000000-0000-0000-0000-000000000000"
github_repository_url   = "https://github.com/owner/codebuild-private-clone-test.git"
github_branch           = "main"
